{% extends "layouts/public.twig" %}

{% block title %}Login{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
 
	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Iniciar sesión
						        </button>
						      </h5>
						    </div>
						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="{{ URL }}controller=auth&action=doLogin" method="POST">
						        		<p><input type="email" name="email" placeholder="email"></p>
						        		<p><input type="password" name="password" placeholder="password"></p>
                        <p><button class="btn btn-secondary" type="submit">Iniciar sesión</button></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->
{% endblock %}

{% block script %}

{% endblock %}